.block_ {
    background-color: #FFF;
    color: #111;
    display: block;
    font-size: 2em;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 8pt
    }
.block_1 {
    background-color: #FFF;
    color: black;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0 0 8pt
    }
.block_2 {
    background-color: #FFF;
    display: block;
    font-style: italic;
    padding: 0;
    margin: 0 0 10.5pt
    }
.block_3 {
    background-color: #FFF;
    display: block;
    padding: 0;
    margin: 0 0 10.5pt
    }
.block_4 {
    background-color: #FFF;
    display: block;
    padding: 0;
    margin: 0
    }
.block_5 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 8pt
    }
.calibre {
    color: #333;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    text-decoration: none
    }
.calibre2 {
    font-style: italic
    }
.text_ {
    background-color: #FFF
    }
.text_1 {
    background-color: #FFF;
    color: black
    }
