.block_ {
    background-color: #FFF;
    display: block;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.block_1 {
    background-color: #FFF;
    display: block;
    font-size: 0.64583em;
    line-height: 1.2;
    margin: 0;
    padding: 0
    }
.block_2 {
    background-color: #FFF;
    display: block;
    font-family: serif;
    font-size: 0.41667em;
    margin: 0;
    padding: 0
    }
.block_3 {
    background-color: #FFF;
    display: block;
    font-size: 0.5em;
    margin: 0;
    padding: 0
    }
.block_4 {
    display: block;
    font-family: serif;
    font-size: 0.41667em;
    line-height: 1.2;
    margin: 0 0 8pt;
    padding: 0
    }
.calibre {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 2em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre2 {
    display: block
    }
.text_ {
    background-color: #FFF;
    font-weight: bold
    }
.text_1 {
    background-color: #FFF;
    font-style: italic;
    font-weight: bold
    }
.text_2 {
    background-color: #FFF
    }
.text_3 {
    background-color: #FFF;
    font-style: italic
    }
